[2016-02-24 11:47] PavelVeselsky opened #2 "Licence and commercial use"
I'm working on adjusting this application for use in a commercial web application for a customer who might be paranoid about potential legal gotchas. As there is no license file, I hope it is public domain, but I would prefer to be sure. So, what kind of license is this app?

[2016-02-24 13:35] PavelVeselsky commented on #2
Ouch, the [GitHub policy on repositories with no license](https://help.github.com/articles/open-source-licensing/) specified means we can't use this app without breaking the copyright laws, even in a non-commercial context. @nickcam please add some LICENSE.txt file to the repository if this is not what you want. I assume you wanted something different, otherwise you wouldn't advertise this reposit

[2016-02-24 21:47] nickcam commented on #2
Hi @PavelVeselsky,

You're spot on mate...no license (commercial or otherwise) is intended for this...would be nice to maintain a link back to the github page though :).

I'll drop a license file in there when I get a chance to keep the boss/bosses happy. In the meantime, feel free to use at will.

Thanks,
Nick

[2016-02-25 07:01] #2 closed

[2016-03-04 09:50] PavelVeselsky commented on #2
Excellent, MIT is my favorite license :-)
Now I can promise to expand this one day (on Stack Overflow they say "in 6-8 weeks"). Support for any coordinate system with unit in meters (and tests to recognize it) and more complex objects (no need for x and y in root) are the key features. However, my implementation of complex object support messed things up, so it will need some more debugging to wor

[2016-03-07 13:26] PavelVeselsky opened #3 "Map object initialization"
How is the `_setMap` method called? In the example, it's called automatically, but I had to set the map explicitely. Why? Does it look for `map` and `surface` objects at some specific locations?

[2016-03-07 23:07] nickcam commented on #3
Hi @PavelVeselsky,

_setMap is an internal GraphicsLayer method that I've overriden to add some events. It should get called when you add the layer to the map. ie:

`map.addLayer(clusterLayer);`

Obviously it will only be called if your class is still inheriting from GraphicsLayer though.

`
 return declare([GraphicsLayer], {
        constructor: function (options) { .....
`

Thanks,
Nick

[2016-03-08 06:51] PavelVeselsky commented on #3
To reference the class stored in custom location, I named it:

[code]

Naming works in respect to the referencing, but might have broken the inheritance from GraphicsLayer? AFAIK it should work, but I'm still far from black belt level in Dojo, so I might have misunderstood something. I will try to reference the project some other way to test it.

[2016-03-08 12:24] PavelVeselsky commented on #3
Indeed, naming the classes is not the right way, but [doing it the right way is not that easy to understand](http://stackoverflow.com/q/35867005/1801588). I'm looking forward to the moment I'll understand it enough to see if this was the source of my troubles or not.

Anyway, thank you!

[2016-03-09 14:01] PavelVeselsky commented on #3
[I don't need the module name any more](http://stackoverflow.com/a/35895455/1801588), so I tested it and `_setMap` is still not called. It IS inherited from the GraphicsLayer and GraphicLayer is on its place in require - function pair in the define statement, so I don't know. My only idea is that it might have a problem to find the surface variable - while trying to call it explicitly, I didn't fi

[2016-03-09 21:45] nickcam commented on #3
Yeah dojo is far from my favorite library as well, I get thoroughly confused by it at times as well :).
If you're still having issues, you can send me your class if you like and I can have a look when I get a chance.

[2016-03-10 07:01] PavelVeselsky commented on #3
My code needs some polishing and commenting before I can responsibly publish it, off course with the readme changed to "use nickcam's version, mine is a testing/debugging build, not really working". I have already forked FlareClusterLayer and I'll update it with my code and let you know, but it will take me days or weeks.

[2016-03-10 09:26] nickcam commented on #3
No worries. I'll close this issue. Just let me know if you want any help.

[2016-03-10 09:26] #3 closed

[2016-03-11 07:28] PavelVeselsky commented on #3
I test it with your example front-end (index.html, data.json and DataManager.js) and I don't need to initialize the map with them. I'll try to find out which difference between your static and my Orchard-generated page causes the issue. Anyway, this issue should stay closed, the problem is not in FlareClusterLayer.

[2016-04-14 14:05] tdimanov opened #4 "flareCluster displaced when map is not full body, and after pan"
Hi nickcam,

thanks for your cluster extension. I tried to used it in map instance which is not 100% of the body span. I noticed flareCluster has been displaced from the cluster group center on mouseover. I'm attaching screenshot of that.
Thanks in advance for your input on that issue.
<img width="944" alt="screen shot 2016-04-14 at 10 07 51 am" src="https://cloud.githubusercontent.com/assets/1097

[2016-04-14 21:18] tdimanov commented on #4
I actually resolved the problem by modifying FlareClusterLayer.js (lines 909, 910) this way:
            pt.x = fo.center.x - mapDivLeft;
            pt.y = fo.center.y - mapDivTop;

where mapDivLeft and mapDivTop were previously defined as:
            var mapDivLeft = $("#map").offset().left;
            var mapDivTop = $("#map").offset().top;

I'm sure there is more elegant solution. Thanks for

[2016-04-15 04:33] nickcam commented on #4
Good stuff, glad to hear you sorted it and thanks for the fix. I'll close this issue and incorporate it into a new version at some stage.
Thanks,
Nick

[2016-04-15 04:33] #4 closed

[2016-06-17 20:39] gislover100 opened #6 "FlareClusterLayer does not work in IE"
It seems FlareClusterLayer does not work in IE, After zoom-in or Pan, Cluster symbols do not show and cluster count remains on map. It works perfect in Chrome.

[2016-06-18 10:03] nickcam commented on #6
Hi Mate, which version of IE are you using? I'm pretty sure I only tested it in IE11 to be honest. Just tried it out again quickly and IE11 is fine, but IE10 and below are behaving as you describe. Looks like an easy fix for those though - just need a polyfill for a function...will get to it sometime soon.

This also prompted me to try it in Edge for the first time...and that really doesn't work,

[2016-06-18 20:38] gislover100 commented on #6
Hi Nickcam, Thanks for instant response. I am using IE10, Can you please fix it for IE10 also that would be really good.

when I starts zoom in, all cluster graphic looks OK as expected but it become ugly on end of map zoom-in.

Thanks

[2016-06-22 23:27] nickcam commented on #6
Just committed a change - it should work in IE10 now.

[2016-06-22 23:27] #6 closed

[2016-07-06 23:06] gislover100 commented on #6
Thanks Nick, It is working like a charm in IE9. I have one more issue. I have two map objects on one html page and I implemented clustering thru your FlareClusterLayer. Clustering rendering fine for both maps. When I hover on cluster graphic on first map object It works fine and shows sub clusters for that graphic but hovering on cluster on second map object does not bring sub clusters graphic. I

[2016-07-07 11:17] nickcam commented on #6
Hi mate, can you create a plunkr or jsfiddle that demos the issue - will make it much easier to sort out.
Thanks,
Nick

[2016-08-30 18:55] JamesRMartin opened #8 "FireFox 48.0.1 clusterGroup hover position"
When hovering over a clusterGroup the position shifts away from center. I have not had a chance to look at the code behind.  Any quick idea?

The clusterArea looks like it originates from the center of the view, and then shifts/moves to the correct ending position, and the clusterGroup starts at the correct position and then shifts/moves away from the original position the same direction as the cl

[2016-08-31 23:25] nickcam commented on #8
Hi @JamesRMartin,

Sorry can't think of anything off the top of my head...haven't had a chance to test it in that version of firefox...only tested it in an older version. When I can get 48 installed I'll have a look and get back to you.

Thanks,
Nick

[2016-09-02 02:01] nickcam commented on #8
Hi @JamesRMartin,

Had a look at this and just committed some fixes...well fixes being removing the scaling animations from Firefox. The css property origin-transform is a bit of a moving target by the looks of it...its implemented differently in firefox and chrome and possibly other browsers.

Added some notes to index_v4.html and the readme. They should explain what's going on.

[2016-09-02 02:01] #8 closed

[2016-09-02 17:33] JamesRMartin commented on #8
@nickcam Awesome!  That works.  Thanks for looking into that, and getting a working fix for the moving target.

Cheers!

[2016-10-09 18:30] MarcBate opened #9 "4.1 support"
Can you add support for v4.1 of the Esri JS API?

[2016-10-09 18:31] MarcBate opened #10 "'Always' mode in 4.0 example"
Does the 'always' mode for the 'Display cluster area mode' work in your 4.0 example?

[2016-10-10 10:39] nickcam commented on #10
Good pickup - nope it didn't work...just committed a fix for it :).

[2016-10-10 10:55] nickcam commented on #9
Hi @MarcBate. I've had a quick look at upgrading to 4.1. Unfortunately - as you may have noticed if you tried to upgrade as well - it seems you can no longer inherit from esri classes in typescript just using a simple extends statement on the custom class as you could in 4.0.

Something to do with changes they've made to the accessor class and how it's implemented/inherited in their classes. That'

[2016-10-10 15:16] MarcBate opened #11 "Reclustering when panning?"
Just wondering why it reclusters when you pan the map and all of the data is in the extent before and after the pan?

Btw, I think this is amazing and I plan on implementing it in our application.

[2016-10-10 22:05] nickcam commented on #11
Thanks @MarcBate.
It recalculates on every movement of the map (including pans) as the clustering works by dividing the visible extent into equal sized blocks (the cluster grid) and clustering the points that are in those blocks if its needed. This means even on a pan it needs to recreate the cluster grid and therefore also recluster the points.

Could potentially have a check when performing the

[2016-10-10 22:05] #10 closed

[2016-10-10 22:09] nickcam commented on #9
Look at supporting upgrade for 4.1. Might be an all or nothing upgrade as far v 4.x is concerned though. I don't think 4.0 and 4.1 will work together in one code base...could create two separate versions for 4.0 and 4.1. Keep 4.0 in a branch and hopefully upgrade to 4.1 support in master.

[2016-10-10 22:23] MarcBate commented on #11
I've added a few options to the v3 flare cluster layer, none of which are used by default, including this check for pans with the cluster areas contained within the new extent, allowing the data source to be an array of Graphics objects, allowing for an array of graphics objects to be added or removed from the cluster layer, passing a UV renderer for the singles renderer, changing hover/always wit

[2016-10-11 01:30] nickcam commented on #11
Ok cool. Thanks!
To contribute: Fork the repository. Make the updates in the forked version, then commit them to your forked version. From there you create a pull request back to this repo where I can review the changes and commit them to this repo.

That's a bad explanation :). This does it better - see the section on Pull Requests.
[https://guides.github.com/activities/contributing-to-open-sourc

[2016-10-11 13:58] MarcBate commented on #11
Thanks for the info. Btw, here's a couple screenshots.
http://bit.ly/2dIeMJ2
http://bit.ly/2e6gx28

[2016-10-26 02:26] nickcam commented on #9
now upgraded for 4.1.

[2016-10-26 02:26] #9 closed

[2016-10-26 21:10] DOOMitru opened #12 "Load new data on button click"
Hi Nick,

I would really like to use your FlareClusterLayer_V3 in an application that I'm working on but I'm not very familiar with Dojo modules and how exactly they work.  I've been trying to figure out a way to load new data into the map and re-cluster it on a button click event but I could only get it to work for the first click.  On subsequent clicks, I get an error in the console saying "this

[2016-10-27 01:09] nickcam commented on #12
Hi @DOOMitru, no worries - I've just created this plunker that shows how to do it.
[https://plnkr.co/edit/9o5CFWuYfUpgRBpLbO2z](https://plnkr.co/edit/9o5CFWuYfUpgRBpLbO2z)

Just keep hitting the Reload data button and it will reload the data each time, in the example it's the same data all the time.

Essentially you just setup the map and cluster layer first, in this case inside of a dojo/domReady

[2016-10-27 04:23] DOOMitru commented on #12
Great! I was able to make it work with your help.  Thanks very much for the help and the quick response!

[2016-10-27 04:45] nickcam commented on #12
No problems, glad you got it going!

[2016-10-27 04:45] #12 closed

[2016-10-27 21:02] DOOMitru commented on #12
Just wanted to show you the result: ![result](http://i.imgur.com/hvO1VV8.png)

We've plotted over 600k points and it took less than a minute to render it all clustered.  We did this using MarkerClusterer v3 for Google Maps and it took almost 40 minutes.

Great job! And thanks again!

[2016-10-30 22:05] nickcam commented on #12
Wow, that's a lot of points - I'm glad...and slightly surprised :)...it worked ok for that many!

[2016-11-01 11:21] kevinhaeni opened #13 "How to add features by service URL?"
Hi Nick, great project! I would love to use this in our project, however, I fail to understand how I can use it given a ArcGIS Feature Layer URL. By using a QueryTask I can get the JSON but it has a different structure than your data.json file ( coordinates are under the geometry object etc.).

Do I need to change the FCL code or is there any esri-way to load the features in a way that is compatib

[2016-11-01 16:10] DOOMitru opened #14 "Creating multiple FCL's on the same map"
Got another question for you Nick.  Is there a way to add multiple FCLs (V3) to a map with different default simple marker symbols?

[2016-11-01 17:16] DOOMitru commented on #14
Never mind, I got it.

[2016-11-01 17:16] #14 closed

[2016-11-01 21:15] nickcam commented on #13
Hi @kevinhaeni. Unfortunately it doesn't cater for hooking up to feature layers. I've only had the use case for a custom dataset so far, so haven't gotten around to trying to use a feature layer as a dataset.
For the moment I think you could query the feature layer to get the data back, then massage the results into an array of custom objects, and pass that array as the data to the layer.

Will de

[2016-11-02 19:54] DOOMitru opened #15 "Chrome issue: flares do not line up after panning the map"
Hi Nick,

We noticed an issue with the FCL v3 while using it in Chrome.  If you pan the map and then hover over a cluster, the flares tend to show up around the clusters previous position instead of it's new position. The flares position does get reset to the new position though if the zoom level changes.  I used the [plnkr](https://plnkr.co/edit/9o5CFWuYfUpgRBpLbO2z) you've made for me before to

[2016-11-02 21:40] nickcam commented on #15
Hi @DOOMitru,, yeah I noticed that happening in the plunker, but thought it was limited to there - something to do with how the plunker preview is rendered and offsets being calculated incorrectly based on it.

If I go to the example page [http://flareclusterlayer.azurewebsites.net/index_v3.html](http://flareclusterlayer.azurewebsites.net/index_v3.html) it works fine for me...do you still see the

[2016-11-02 21:52] DOOMitru commented on #15
Hmm.. it doesn't appear to be happening on the example page but it is happening in our app in the exact same way as it happens in the plunker example.  I'm using Chrome version 54 (54.0.2840.87).  It doesn't seem to happen in FF or Edge though.

[2016-11-02 22:08] nickcam commented on #15
Hmm...ok. Does your map take up the full page, or is it only part of the page? Can you attach a zipped cut down version of the html/js you use to load it up? Will take a look when I get a chance.

[2016-11-02 22:45] DOOMitru commented on #15
Before we integrated the FCL into our app, we first made a simple mock up to see if it fit our needs.  I've included a stripped down version of that mock up which exhibits the problem.  Hopefully you can track it down. [Link to github repo](https://github.com/DOOMitru/arcgis)

[2016-11-02 22:54] nickcam commented on #15
Ok cool - will take a look. Don't think I'll have a chance to this week though sorry. If you manage to find it and fix it feel free to raise a PR. Seems as though the issue is in the createFlares function where it checks for the offsets of the map container to the page.

[2016-11-03 17:04] DOOMitru commented on #11
Hi @MarcBate, I would be interested in using some of the options you say you've added to Nick's FCL v3.  Unfortunately the bitly links you've posted are not accessible.  Is there a way I could get a copy of the FCL with your changes?

[2016-11-04 11:43] nickcam commented on #15
Hi @DOOMitru, just pushed up a fix for this. Turns out it was only an issue with v3.18, which is why my example still worked as it was previously referencing 3.16.

As of 3.18 when the map is panned the surface (svg element) has some translate values added to the transform style property to cater for the panning of the map, previous versions didn't apply these translate values. Zooming would reset

[2016-11-04 11:43] #15 closed

[2016-11-04 15:39] DOOMitru commented on #15
Great! Thanks for taking the time to update it.  It's much appreciated.

[2016-11-15 03:03] dyh333 opened #16 "only support webMercator basemap?"
hi, @nickcam . i like this flareclusterlayer very much. thanks your share. but i found that the source code seems convert all graphic to webMercator project? does it means that the layer only can add to webMercator basemap?

[2016-11-15 21:35] nickcam commented on #16
Hi @dyh333,
Yeah thats right...it does this as I found that wrap around in a MapView didn't work unless all points were in web mercator. I haven't tested using a basemap that isn't in web mercator to be honest, but it would not surprise me that it wouldn't work.

This may change in v4.2 and on, so can hopefully remove the explicit conversion. If you don't mind wrap around being an issue, you could

[2016-11-16 00:09] dyh333 commented on #16
@nickcam, thanks your reply. i will try as your advice.

[2016-11-30 03:02] PivotalAnimal opened #17 "webpack / typings / Arcgis 3.18 / Angular2"
Hi - My teammate is having trouble getting ClusterLayer.js (from esri examples) working in an Angular 2 app that uses Arcgis 3.18 and webpack. It looks like your 3.18 test app is written in pure JS and does not have a typings file for it. Can you please suggest ways we can get FlareClusterLayer working in our TypeScript environment using 3.18. We would upgrade to 4.1 but apparantly there are featu

[2016-11-30 10:34] nickcam commented on #17
Hi @PivotalAnimal,

Is the problem you can't get the library to load in your app at all or is it that you just don't get intellisense as there's no typings file?

You should still be able to use it without a typings file. As it's just a dojo module, include it and load it up as an external reference like you would other external amd libraries. I have no useful experience with webpack, so can't off

[2016-11-30 15:02] klanglie commented on #17
Hi @nickcam

I am looking into the option of creating a typings file. I tried this with ClusterLayer.js from esri but somehow their solution is still not working. Creating a typings file seems pretty straight forward. I think basically all it does is allow tsc to compile and at runtime doesn't do anything. That being said, would I need to include private (those marked with _) in this file or only

[2016-11-30 19:57] klanglie commented on #17
Issue solved. Thanks!

[2016-11-30 19:57] #17 closed

[2016-11-30 20:52] nickcam commented on #17
Awesome, glad you got it sorted!

[2016-12-08 20:47] netik25 opened #18 ""import * as X" versus "import X" with esri Modules"
Note: This is NOT an issue with your project, but more of a question because of my lack of competence and you seem very competent.

Hi Nickcam,
First of all: Amazing project! I would love to use it in my project. I'm having one question though.

Your way of importing esri modules, like for example:

`import * as Graphic from "esri/Graphic";`

does not work when I use your .ts file in my project, b

[2016-12-08 20:53] netik25 commented on #18
ahh, I'm very sorry, I just read on your markdown file that this is because of Angular2? I am using Angular2, so that must be it. Very sorry

[2016-12-08 20:53] #18 closed

[2016-12-08 21:41] nickcam commented on #18
Hi @netik25,
Yeah there's different patterns for angular2. Just for reference here's some other repos that may help you get started quickly
[https://github.com/nickcam/Ang2-Esri-NetCore/tree/master/Ang2-Esri-NetCore](https://github.com/nickcam/Ang2-Esri-NetCore/tree/master/Ang2-Esri-NetCore)
[https://github.com/tomwayson/angular2-esri-example](https://github.com/tomwayson/angular2-esri-example)
[h

[2016-12-11 15:53] netik25 opened #19 "JSAPI V 4.2 compatibility"
Hi Nick
Looks like version 4.2 of the JSAPI has been released a few days ago - unfortunately the documentation is not up to date yet, but it seems to be breaking FCL.

It cannot find the 2D VectorGroup - hopefully it was just renamed/moved and not removed from the JSAPI.

PS. let me know if there is some way to donate something to your great work! I could really use this feature in my application,

[2016-12-11 22:05] nickcam commented on #19
Hi @netik25,

Yeah I totally expected it to break for v4.2. I've started building a new version of FCL for v4.x that will hopefully be a bit more future proof and only use the public classes from the api.

Once ESRI updates the API documentation I'll look at updating it to work with v4.2 as I also need to make use of some of the new features. Can't give a time frame though sorry.

Thanks,.
Nick

[2016-12-16 11:44] #16 closed

[2016-12-16 12:08] nickcam commented on #11
Hi @MarcBate, how'd you go with those updates - still keen to review and merge them if you can create a pull request?

[2017-01-06 02:48] nickcam commented on #19
Hi @netik25,
Just committed a new version into the master branch that supports v4.2. Let me know how you go with it.
Thanks,
Nick

[2017-01-17 02:20] #11 closed

[2017-01-17 02:20] #19 closed

[2017-02-28 15:49] payneBrandon opened #21 "JSAPI 4.1 TypeScript"
I'm running into an issue with the 4.1 typescript file.  I had been using the 4.2 which was working beautifully, but ran into a separate bug in the ESRI code with removing a FeatureLayer and need to fall back to the 4.1 API.  I'm running Angular 2 and load with systemjs.  When the 4.1 typescript file is loaded, the constructor is throwing an error on the following line:
`this.on("layerview-create"

[2017-02-28 22:15] nickcam commented on #21
Hey man, yeah that's odd. I was using that same version in an angular 2 app no problems. I've just tried it out by putting the 4.1 version into this repo - [https://github.com/nickcam/angular2-esri-netcore](https://github.com/nickcam/angular2-esri-netcore) and I got the same error.

For some reason it appears the Evented mixin that is part of a GraphicsLayer and contains the 'on' function isn't av

[2017-02-28 23:58] payneBrandon commented on #21
Hey, thanks for looking into it a bit for me!  I'm not sure if its just my machine but I keep running into issues when referencing the FlareClusterLayer properties using 'this'.  I was able to get around the errors by pulling everything from the constructor (except the super()) and adding it to a new init() function.  This seems to get rid of the errors thrown, however is now not clustering proper

[2017-03-01 00:25] nickcam commented on #21
No probs. What errors are you getting in the console? The only line that should have to move from the ctor is the "on" one as all of the other lines just set properties specific to flareClusterLayer, so it's weird that they would throw errors.

Actually, try one other thing - in the FlareClusterVectorGroup class change this block in the `draw(a)` method:

[code]

To this
[code]

[2017-03-01 15:04] payneBrandon commented on #21
If I leave everything in the constructor, its throwing an error on the this.drawData():
 "EXCEPTION: TypeError: _this.drawData is not a function"
If I move just the drawData function call out to the init, I run into issues down the line as well. Its acting as though the variables set in the constructor aren't recognized later in the other functions.  For instance the textSymbol is set in the const

[2017-03-01 22:13] nickcam commented on #21
Ah right. Yeah that's really strange. Perhaps it's something to do with where it's being constructed, as in too early, before the arcgis scripts have fully loaded?? I don't think that's right though as I was getting the same error and I'm pretty sure they were all loaded, that's all I can think of right now though. Sorry mate, don't have the capacity to look into it more right now. Let me know how

[2017-03-01 23:46] payneBrandon commented on #21
Hey man, thanks for all the help with this.  Getting the 4.1 version up and running was proving to be too much work, so I am back with the 4.2 version (working beautifully btw) and have just added a work-around for the ESRI issue I was running into.  I'll go ahead and close it out with that, again thanks for the help and a sweet cluster layer!

[2017-03-01 23:46] #21 closed

[2017-03-02 00:55] nickcam commented on #21
No worries man, glad you got it going...probably best to stick with the latest version as well :)!

[2017-03-30 13:29] Basicside opened #22 "Angular 2"
Hi Nick, work in this project!
I want to use this in my project in angular 2 but is not that straightforward,  is it possible to have an implementation of this in angular 2 or more detail explanation using systemjs and esriSystem??

[2017-03-31 02:17] nickcam commented on #22
Hi @Basicside,

No worries - there's a few good resources to help you out.
You should probably just get an angular app up and running with the arcgis js api first. Here's some repositories that show how to get started:
[https://github.com/nickcam/angular2-esri-netcore](https://github.com/nickcam/angular2-esri-netcore)
[https://github.com/jwasilgeo/angular2-esri-playground](https://github.com/jwasi

[2017-03-31 09:42] Basicside commented on #22
Hi, Thanks for the reply :)
having the arcgis api running on angular 2 is kind of tricky but I already manage that, my problem is with the flareCluster it self.
 first of all, I have the FlareClusterLayer on my application inside the fcl folder, and on my index.html the configurations for the dojo to import the file.
but then I have to add to the custom-typings  something like that

[code]

so ang

[2017-04-01 10:04] nickcam commented on #22
Hey man,

Sounds like you may be trying to use the javascript version and then reference it in typescript. Easiest thing is to just copy the `typescript/flareClusterLayer.ts` file to somewhere along side the rest or your typescript files.

Here's some quick steps that may help:
- Copy `typescript/flareClusterLayer.ts` alongside your other ts files.
- Add the typings: dojo-typings through npm, and

[2017-04-11 08:45] Basicside commented on #22
Hello Nick,
Sorry for not saying anything, I'm up to my hair with work, thanks to you I
was able to get the FlareCluster to work on the angular2, I will create a
plunk with my solution, and added to the discussion because somebody else
may needed.

Thanks for your help
Ruben

Em sáb, 1 de abr de 2017 às 12:37, Nick Cameron <notifications@github.com>
escreveu:

--
Melhores cumprimentos,
Ruben Costa

[2017-04-11 10:29] nickcam commented on #22
Good stuff! Glad you got it going...closing this issue :).

[2017-04-11 10:29] #22 closed

[2017-04-13 10:50] hohenstrater commented on #13
To pass a feature layer would be awesome. How much work is involved?

[2017-04-14 04:23] nickcam commented on #13
Hey man,

I don't think there's too much work involved.
It would just require the cluster layer taking an already constructed feature layer or at the least a feature layer url and instantiating it internally.
Then querying the feature layer and then finally using the returned features as the data source for the already existing clustering. Repeat query and clustering every time the feature layer u

[2017-05-10 04:18] bruce83hub commented on #13
Hi Nick,

After the feature layer has been converted to a query and then displayed as a flare would you be able to make changes and edit the query (like add another point to the flare data) before sending it back to the serve to update the feature?

Thanks
Bruce

[2017-05-11 01:13] nickcam commented on #13
Hi @bruce83hub, not quite sure what you mean sorry?

I don't think you could add a point to the overall point list in a feature layer loaded from a url. I'm guessing it would have to be added to the data source of the feature layer which would then be picked up in the next query.

Is that sort of what you mean?

[2017-05-17 01:29] bruce83hub commented on #13
Hi Nickcam,

Thanks for the reply,

Thats right, I am hopping to be able to edit the feature layer and then display the data from the feature layer with something like your flare cluster. Is this possible?

Thanks
Bruce

[2017-05-19 00:40] nickcam commented on #13
Hi @bruce83hub,

Yeah ok. Sounds like you'd have to edit the data source of your feature layer, if you're doing this client side I think the layer has to be part of a Feature Service. Then re-query the feature layer to get the points to send to the cluster function.

This is all speculative though as I haven't attempted to add Feature Layer support yet. I don't think I'll be touching this layer un

[2017-10-06 20:41] spatterson82 opened #23 "Graphics not displaying"
I have been trying to use your FlareClusterLayer with a REST service that returns JSON of points.  I am using the GraphicsLayer base class load function to call the REST service and store the point data as the FlareClusterLayer._data.  After that I call the draw function.

I can see console log statements when I pan around that tell me if the data is clustered or not during the draw function.  I c

[2017-10-07 09:05] nickcam commented on #23
Hi @spatterson82, no worries. Can you post an example of your current code and problem somewhere - like a gist or plnkr.

[2017-10-07 15:25] spatterson82 commented on #23
Here is a gist link for the FlareClusterLayer that I added things to.  I commented the functions I added and I also updated the coordinate property names because the JSON I am using has Lat/Long. I will post some functions from the other parts to show how it is being called.
https://gist.github.com/spatterson82/04c72c9ac7467ce8666f111c51db0259

[2017-10-07 15:33] spatterson82 commented on #23
Here are the two functions that are part of a main application that build a layer and pass the layers to a Map object.
https://gist.github.com/spatterson82/4716c810a6a836ee617f6ed2c1a83831

[2017-10-08 23:58] nickcam commented on #23
Hi, I can't see anything glaringly wrong with what you're trying without seeing a live demo.
Couple of points though.
- You can just set the xPropertyName and yPropertyName as values in the constructor parameters, don't need to change the default values in the layer itself.
- You could move the calls to get the data outside of the layer and then just call setData() on an instantiated layer object

[2017-10-09 12:29] spatterson82 commented on #23
Thanks for checking it out.  I will try those suggestions today and try to troubleshoot a bit more.

[2017-10-10 15:59] spatterson82 commented on #23
@nickcam I finally got the clusters to display on the map today.  The layer visibility is being defaulted to false somewhere.  I don't see that getting set anywhere.

In the _createCluster function, I added "this.visble = true;" at the very bottom and it works.

I am going to try and change it now to take a FeatureLayer url to load data from a published map instead of querying live data from a RES

[2017-10-10 16:00] #23 closed

[2017-10-10 20:47] nickcam commented on #23
Good stuff, glad you got it working so far! Weird on the visibility thing though...the layer shouldn't be setting ` visible = false ` in itself internally anywhere.

[2017-10-25 09:13] apaleja opened #24 "Tooltip for individual points"
Is it possible to activate/add tooltip similar to cluster flare tooltip, for individual points which are not in cluster ?

[2017-10-25 20:57] nickcam commented on #24
Hi @apaleja, yeah it is totally possible, but I don't think it's something that should live in this project. As the individual points are just normal graphics I think a separate tooltip component would be better that could be reused across any layer.

I've done this in a separate app (not on github though) and it works pretty well. Here's some typescript pseudo code that may help you out.

You cou

[2017-10-26 08:47] YangZhenFang opened #25 "init.js:327 [esri.core.Accessor] Accessor#set Assigning an instance of 'FlareClusterLayer' which is not a subclass of 'esri.Graphic'"
What is the reason for this?

[2017-10-26 22:37] nickcam commented on #25
Hi @YangZhenFang, sorry mate, not really enough detail in your issue to comment on fully.
Is the error occurring in your own version of the layer?
From the sounds of it you're trying to assign an instance of FlareClusterLayer to a graphic object, which obviously won't work as it's a layer not a graphic.
Are you using v3.x or v4.x?
Do you have an example page where this occurring?

[2017-10-27 01:14] yzf1116 commented on #25
Thank you reply to me,@nickcam， i was the first to use arcgis, the version is 4.5, there are many do not understand.now is that
![8eecf378-891f-44d8-9926-359e6f93387b](https://user-images.githubusercontent.com/13129167/32083812-14eede8a-ba8b-11e7-9a29-f3fc8bf94db2.png)

this is data

![image](https://user-images.githubusercontent.com/13129167/32084246-971dd490-ba8d-11e7-89cc-a1630aa9f6c8.png)

[2017-10-27 02:20] nickcam commented on #25
Hi, sorry still can't really see what the issue is. Do you have a live example somewhere (jsfiddle, plunker) where it can be demonstrated?

As your coordinate fields are named Lat and Lng you'll need to set these properties in the constructor options when instantiating a FlareClusterLayer.

[code]

[2017-10-27 03:07] yzf1116 commented on #25
sorry to bother you
http://jsfiddle.net/Hide_Ekko/ma1r1a8g/
in 672-773

[2017-10-27 03:11] yzf1116 commented on #25
now no error,but not show the mapView

[2017-10-27 05:58] apaleja commented on #24
@nickcam Thank you very much for quick reply. This surely will help me.

[2017-10-27 06:48] #24 closed

[2017-10-27 07:27] yzf1116 commented on #23
I have the same problem，but i can't Solve In the _createCluster function, added "this.visble = true;"
it's not work.what should i do
http://jsfiddle.net/Hide_Ekko/ma1r1a8g/2/

[2017-10-31 05:21] nickcam commented on #25
Hi mate, I can't see anything wrong in the jsfiddle...but it doesn't run. Do you have a sample that runs that is displaying the error?

[2017-10-31 10:43] apaleja opened #26 "Overlapping Icons"
Is there any way to avoid icon overlapping ? I tried increasing clusterRatio but at lower zoom levels clusters are still overlapping.

Any Guidance will be helpful.

[2017-10-31 20:43] nickcam commented on #26
Hi @apaleja, just keep on making the cluster ratio bigger the lower you get. If your data is quite close together when you zoom in more you'll eventually hit a limit where multiple clusters are created where one used to be.

You may just need to add a watch to the zoom property of the view and set the cluster ratio to a different value for every zoom level so it suits your dataset...you may have d

[2017-11-09 03:06] feverdestiny opened #27 "[Feature Request] Strengthen with vue support"
## FlareClusterLayer version
4.X
## Arcgis for js  version
4.5
## Vue version
2.5.2
## problem
Hi Nick，Thank you for providing this project，i'm  a  vue user ,i having a problem using this open source project，i use _FlareClusterLayer_v4.js_ import to my project ,but it not  work,finally，i find
this is the Vue and TypeScript integration has always been flawed. [https://vuejs.org/v2/guide/typescript.

[2017-11-09 05:22] nickcam commented on #27
Hi @feverdestiny, sorry I've never worked with Vue so don't know how to help with integration.
If you haven't already, a good place to start would be to get a Vue typescript application that successfully loads ArcGIS api v4.5 up and running.

After that copying in the flareClusterLayer typescript file so that it compiles with the rest of your app shouldn't be too difficult. It may require some twe

[2017-11-09 07:11] feverdestiny commented on #27
Thank you reply @nickcam ,ArcGis api 4.5 runing my vue project,now i find if vue project use you `FlareClusterLayer_v4.js`,
js text `this` will can not automatically deduce `this` type，
The solution I'm looking for now is to add "strict: true" to tsconfig.json and then refactor the typescript files into js files，but when i run `typescript-compile` in VS Code,you code failed. I know very little abo

[2017-11-09 07:23] feverdestiny commented on #27
![image](https://raw.githubusercontent.com/feverdestiny/screenshot/master/tpescript.png)

[2017-11-10 02:00] nickcam commented on #27
Hi @feverdestiny, looks like strict mode might be causing an issue.
Also the module type is set to amd, this is for compatibility with arcgis jsapi....I'm not sure if this will suit your project or not.

How are you loading the arcgis api and then using it within vue? At the same point you do this, you may be able to include the already compiled flareClusterLayer_v4.js file to save you having to c

[2017-11-10 02:00] #25 closed

[2017-11-15 14:56] apaleja commented on #26
@nickcam one of the reason I notices was on every pan it reclusters points. Rather than reclustering on every pan, is there any way to make it static for particular zoom level ? something like : [leaflet cluster](https://leaflet.github.io/Leaflet.markercluster/example/marker-clustering-realworld.388.html)

[2017-11-20 02:28] nickcam commented on #26
Hi @apaleja, you could do that, would require some changes though. It refreshes on pan as well by default as it only calculates the required clusters for the visible area, just to cut down on processing time if the point isn't in the current extent anyway.

You can turn it off by setting refreshOnStationary property to false in constructor options. But then it wouldn't re-cluster on a zoom change

[2017-11-20 04:02] apaleja commented on #26
Hi @nickcam  Thanks for quick reply. I am using 3.x and I think refreshOnStationary option is available for 4.x version. Is there any option available for 3.x version ?

As you have mentioned, FlareCluster is inspired from Esri's version, I was thinking of using [clustering algorithm from esri's](https://developers.arcgis.com/javascript/3/samples/layers_point_clustering/) to swap grid based cluste

[2017-11-22 02:10] nickcam commented on #26
Hi @apaleja, ok no worries.
Same sort of deal applies for v3.

If you want to change the cluster ratio based on zoom set to cater for overlapping icons, just set the `clusterRatio` property to whatever you want based on the current zoom level at the start of the `_clusterData()` function.

If you really want to limit re-clustering to be on zoom only, then change the event on "extent-changed" to be

[2017-12-13 09:07] narimdcg opened #28 "The cluster graphic did not show corretly"
Hi,
Thank you for your code, but the graphics of the clusterlayer seems to be trimed by a boundbox sometimes.

Looking forward to your help,Thands a lot!

[2017-12-13 20:32] nickcam commented on #28
Sorry mate, not sure what you mean. Need more info...a demo page or plunk or fiddle displaying the problem would be best.

[2017-12-13 20:33] #27 closed

[2017-12-13 20:50] #26 closed

[2017-12-14 01:02] narimdcg commented on #28
![clusterlayer](https://user-images.githubusercontent.com/31976085/33970052-d95b2c60-e0ab-11e7-9f58-73dccd6522d0.png)

This  appeared  on my computer yesterday afternoon.Both with my local code and yours on the site.But  worked correctly this morning(UTC/GMT+08:00).It seems like this happened when the tiles didn`t loaded completely due to the awful Internet situation.

Thanks for your attention. L

[2017-12-14 20:33] nickcam commented on #28
Ah ok. Yeah that does look strange.  Glad it's working for you now!

[2017-12-14 20:33] #28 closed

[2018-02-01 07:15] guzhongren opened #29 "how to solove the question : execute too many times"
i will realise an effect that when view zoom than 14,  view will remove FlareClusterLayer, and add a FeatureLayer, but the FlareClusterLayer has been execute. below is my code 🔢
1. init...
![image](https://user-images.githubusercontent.com/8743692/35665380-ff5bdad2-0760-11e8-87b2-bc537e125c1f.png)

2. zoom watch
![image](https://user-images.githubusercontent.com/8743692/35665508-87f41904-0761-11e8

[2018-02-01 10:28] nickcam commented on #29
Hi mate, by the sounds of it you want to hide the cluster and display a feature layer instead at certain zoom level, did I get that right? An example page where the problem is occurring would be super helpful.

Seems like the scene view doesn't like it for some reason, can't really tell from your code in the images though.

Perhaps instead of removing and adding the layers to the map when zooming,

[2018-06-12 13:20] mdominado opened #30 "Issue with numbers on main clusters"
Hello,

I'm currently using the 4.6 code of this library for a custom web application that uses the latest ArcGIS API. My main issue right now is for some reason the numbers for the main clusters show for a second or two and then disappear afterwards. Also, when I move the map, then stop moving the map, the numbers show but disappear as well.

I wanted to know if someone has any idea of what could

[2018-06-13 06:29] nickcam commented on #30
Hi mate, I'm not surprised it doesn't quite work using v4.7, there's usually breaking changes when ESRI updates the api. I haven't had a chance or a need to update it yet.

When I get around to it I was planning on doing a bit of a rewrite to make it fit the api object model a bit better (ie. less hacky stuff), and to preapre for webgl rendering of feature layers client side. Hopefully this will m

[2018-06-13 22:33] #29 closed

[2018-06-14 18:50] mdominado commented on #30
Yeah, I definitely understand the feeling of making fixes whenever there are breaking changes from ESRI's API when they update it.

However, downgrading is not really an option for me. As I mentioned, I'm building a custom project for work, and coincidentally I already fixed whatever 4.6 broke in the application when I upgraded to the 4.7 API.

The company I work with is an ESRI gold partner, so I

[2018-06-15 01:13] nickcam commented on #30
Hi man, yeah the updates that could have broken it wouldn't be ESRI's problem, 99% chance the bug would be in this layers code as it does some non-standard type things to draw...which is why I want to do a cleanup. Sending any issue to ESRI wouldn't get you much help.

I haven't looked at using 4.7 against it myself as I haven't had a chance to upgrade so I have no idea what the problems are yet.

[2018-07-05 14:12] mdominado commented on #30
Hey Nick, just wanted to let you know that I fixed the issue with the text not staying properly on the clusters. The cause was due to a fix for an issue I had with the text symbols' haloSize and haloColor. The code was given to me by ESRI, however, it looks like the fix messed with all the SVGs on the map, whenever the map updates.

So, the issue wasn't with the flare cluster layer source code, bu

[2018-07-05 21:41] nickcam commented on #30
Oh right, cool. Thanks for letting me know mate, glad you got it working!

[2018-07-05 21:41] #30 closed

[2018-07-06 20:52] mdominado opened #31 "Activated cluster group does not show properly"
Hi,

I noticed in the demo, and in my own project that when a cluster group gets activated, for certain clusters, the cluster and its associated flares do not render properly. I've been taking a look at the code personally to fix it, and I wanted to ask if you had any tips or ideas as to where in the code this issue could be, and what could be causing it?

Here's a screenshot of the issue:

![acti

[2018-07-08 23:07] nickcam commented on #31
Hey man, yeah that looks that a bit funky.
I think it would just be the css causing that. There's this in the example css that scales the cluster up in size when it is activated.

[code]
Looks like chrome isn't handling that very well in this case. The css animations are entirely optional, try removing the transform and see if it still occurs.
It could also be the version of Chrome, I use it all t

[2018-07-09 14:17] mdominado commented on #31
Yeah, unfortunately, looking at the CSS was one of the first things I checked when I ran into this issue. Commenting the CSS out did not resolve the issue for me on my side. I also do have Chrome up to date on my machine as well.

Thanks for the info on the methods though! I did find a quick fix for the issue. In the _initSurface function I changed the height and width of the surface.rawNode to be

[2018-07-09 21:52] nickcam commented on #31
Ok cool. Nice one getting it working! Perhaps it's not the ideal fix, but if it get's you going forward that's great. I'll be sure to look at that when I get around to updating the whole layer for the latest api.

[2018-07-10 19:57] mdominado commented on #31
Thanks, yeah I think this fix will have to do for now. Just to be a little more clear, for future reference, I increased the surface.rawNode height/width where you are setting the domStyle for it in the _initSurface function.

Here's a snippet:

            domStyle.set(surface.rawNode, { zIndex: 11, overflow: "visible", width: "8px", height: "8px", left: sp.x + "px", top: sp.y + "px" });

Anyways

[2018-07-10 19:57] #31 closed

[2018-07-10 20:30] mdominado opened #32 "Flares do not activate when a completely new cluster layer is initialized"
Apologies for another issue at hand. But I ran into this issue when I started testing out my code that destroys the previous cluster layer and completely instantiates a new cluster layer on the map.

To be clear, I'm storing the cluster layer globally and adding it to the map (specifically a group layer) when I first initialize it, and then when I decide to go create a new one, I make sure to remo

[2018-07-11 02:07] nickcam commented on #32
Ok, that sounds odd.  I haven't tried adding it to a group layer or adding and removing references to it before - feel like perhaps the LayerViews might get screwed up. Are you able to create a plunkr (or some other sandpit site) that replicates it?

[2018-07-11 14:43] mdominado commented on #32
I tried to create the sample on some of the sandpit sites, plunkr, jsbin, etc, and I couldn't get it on there for some reason, maybe I'm doing some wrong. However, I just reused your v4 sample and modified the code in the index html file to recreate the cluster layer and have it added to a group layer instead. Here's the modified file.

[index_v4.zip](https://github.com/nickcam/FlareClusterLayer/f

[2018-07-11 15:14] mdominado commented on #32
OK, bit of an update, my initial thought that maybe adding the cluster layer to a group layer was the cause, since you mentioned that you never tried adding it to a group layer. Unfortunately, that doesn't seem to be the case. I changed it to be directly added to the map's layers itself, and same issue is produced.

[2018-07-11 22:02] mdominado commented on #32
Another update upon debugging the issue via the browser's developers' tools. So whenever I recreate a cluster and hover a cluster again, I get different cluster objects in the _this._clusters object.

For example:

When I move the map the stored cluster objects ids are 159, and 161 initially. It clears the map to draw again, and the cluster objects become 172, and 174. However, once the clusters a

[2018-07-12 13:40] mdominado commented on #32
OK I managed to get a plunkr sample set up, it looked like the issue was the data.json being too big of a file. Anyways, if you could check it out as soon as you get the chance that would be great!

Here's the link:
https://next.plnkr.co/plunk/DmddmXz2Vb06i5rj

[2018-07-12 23:21] nickcam commented on #32
Ok cool. Thanks the plunkr is very helpful.

So there's definitely a bug when you instantiate a layer for the second time. As you already found something to do with reading the uid's from the graphics created when adding a cluster. I didn't dig into the cluster layer code any more to try and fix it though as I still plan on rewriting that whole part soonish.

It should be easy enough to get around

[2018-07-13 14:02] mdominado commented on #32
Nice! That definitely is a workaround. I forgot to update you and let you know that I ended up changing my code to just reuse the same flare cluster layer instance so there is no need for a new flare cluster to be created every time.

I'll keep your workaround in mind for when there will be a time that I will need to create a new instance, instead of reusing the same one.

Thanks for at least taki

[2018-07-15 23:13] nickcam commented on #32
Ok cool, glad you got it going! The workaround I posted is the same as yours, just don't create a new instance and reuse the existing one.

[2018-07-15 23:13] #32 closed

[2018-09-29 22:00] FreshGyan opened #33 "Integrating with react-arcgis."
Hey Nick!

Thank you so much for creating this library. I'm having bit of a trouble integrating it into an application i am working on.
The project uses (React-arcgis NPM library)[https://www.npmjs.com/package/react-arcgis] and we're trying to implement clustering on the map.
I am able to initialize the FeatureClusterLayer object but when i add it to the map, it provides me with an error saying 't

[2018-10-01 22:42] nickcam commented on #33
Hi @FreshGyan, sorry I'm not familiar with react, but it seems like how you're including it is the problem.

I can think of two things to try.
1) Try importing fcl as though it is an arcgis component so the FlareClusterLayer_v4.js file is loaded using the same mechanism as arcgis. It seems that react-arcgis uses esri-loader internally, so have a look here to see how to load up external depedencies

[2018-10-03 17:53] ghost commented on #33
Hey @nickcam . Excellent advice!
Now i am using esri-loader to load the FlayerClusterLayer file. Currently to test I am just using the URL for hosted file on your server for the demo of the arcgis 4.x example. I don't think my dataset is what the layer expects though.
I am able to instantiate the object and add it to the map, but nothing gets displayed on the map.

Here's the code i'm using to loa

[2018-10-03 22:47] nickcam commented on #33
HI @FreshGyan - ok cool, you're almost there. Yeah the data format is wrong.
You don't pass fcl an array of graphics, it will create those internally for you.

Just pass it an array of objects. Each object must have a property for x and y. By default fcl will look for properties called 'x' and'y' on your objects to use as the long and lat. But you can set the property name to look for by changing

[2018-10-04 00:22] ghost commented on #33
AH okay! That makes sense 🤔  I think i'm getting close.

So i have an array of objects (data) now, that look like this:
[code]

and i'm instantiating my fcl and adding it to the map as explained in the example above. I also added the spatialreference same as in the index_v4.html to my options just in case.

Now no points are showing up on the map but when i zoom in/out of the map i get a console l

[2018-10-04 00:47] nickcam commented on #33
Hey man, the x and y should be numbers. Try changing your objects to this:

[code]

[2018-10-04 00:48] ghost commented on #33
Haha, that was my next hunch. unfortunately, it didn't make a difference :(

[2018-10-04 00:55] nickcam commented on #33
Hmmm...ok. Are you able to create a plunkr or jsbin or some online demo just using vanilla javascript and the full set or subset of your data.  Then post the link to it, can take a look at that.

[2018-10-04 01:33] ghost commented on #33
Hey Nick! thank you for all your help.
I got it working! The code looks a little messy but it seems to be working for now 👍

My issue was not passing correct coordinates for x and y. I had them reversed 🤦‍♂️
Also for CSS styling do you know what's the element name and how I can grab the different markers and circles? Or should I just rely on styling them during SimpleMarker/FillSymbol object initi

[2018-10-04 01:44] nickcam commented on #33
Ok great, yeah I've done that before as well :)!

You should use the renderers and the symbols in them to do the styling. You can do heaps of stuff with renderers now, check out the arcgis js api pages.

In my example page I've got some custom styles to animate the appearance of the clusters, you could refer to those for getting at the cluster styles if needed. Certainly the individual markers sho

[2018-10-05 09:55] mtrsklnkvMM opened #34 "Use with other projection (27700)"
Hi,

I am trying to make it work in British National Grid (27700).
It came up with an error message when trying to get the "webExtent" in the code, which I "solved" by using the geometry service project tool instead. All the clusters seem to generate ok in code(although only when I pass decimal degrees coordinates), but they don't show on the map.

Any idea?

Thanks,
Matt

[2018-10-07 20:41] #33 closed

[2018-10-07 22:16] nickcam commented on #34
Hi @mtrsklnkvMM, I only ever tested using 4326 and web mercator. I can't think of any reason off the top of my head why using the geometry engine to convert between any spatial reference and web mercator wouldn't work though. Are you able to create a demo page using plunkr or something that demonstrates the issue?

[2018-10-08 16:31] mtrsklnkvMM commented on #34
Hi,
I was able to make it work.
It was linked to an esri issue/bug, that was shifting all my points by quite a lot. (https://community.esri.com/thread/91409)
It's working great now, thanks for the answer. Really useful widget.

[2018-10-08 16:31] #34 closed

[2018-11-05 18:24] orengal opened #35 "Chrome 70 ruined the flare..."
Since last update of Chrome the flare is cut inside a small rectangle
Have no clue

[2018-11-06 03:07] nickcam commented on #35
Hi @orengal - yep I'm seeing it as well, really is quite busted.
I thought it would be pretty simple to fix at first with an overflow: visible being needed somewhere, but they seem to be everywhere they should be.

Looks like the svg group (<g>) elements aren't honouring overflow. Haven't been able to fix it yet - if you come up with anything let me know.

[2018-11-06 05:19] orengal commented on #35
Hi @nickcam,
Will try.
In Chrome 72 it works again so I guess it's a bug Google put, saw and solved.

[2018-11-06 09:35] nickcam commented on #35
Hi @orengal - ok cool. Don't happen to know when 72 will be released as the prod build do you?

[2018-11-06 09:48] orengal commented on #35
Hi @nickcam,
No, I have 70 and Canary 72. If it's fixed in 71 it's less than a month. Google update is every month.
I have asked Google if they can make a hotfix to 70 thou.

[2018-11-06 10:02] nickcam commented on #35
Thanks man. I just tried 71 and it's no good either. I'll keep looking for a workaround when time permits, but hopefully a hotfix will come in before 72 is released.

[2018-11-20 06:05] itislegend opened #36 "how to dynamics add point"

[2018-11-20 21:00] nickcam commented on #36
Hi, not 100% sure what you mean. I'm assuming you want to a point to the layer at any time??
If so then just add the point to your data set that you originally passed to the layer, then call setData on the layer instance.
[code]

[2018-11-23 01:46] #36 closed

[2019-01-08 06:26] roy0633 opened #37 "ArcGIS Javascript API 4.10 - 4.11"
Hi~
When I use ArcGIS Javascript API 4.10
I received an error message about "engine/graphics/GFXObject"

[2019-01-08 21:06] nickcam commented on #35
Looks like this was actually fixed in 71.

[2019-01-08 21:06] #35 closed

[2019-01-08 23:01] nickcam commented on #37
Hi @roy0633,

Since v4.10 all drawing is done using webgl, so no more svg - which is a good thing.
Now it can draw 1000's of points with no performance drawback, so clustering may not be necessary.

This layer is using svg to create a clone of the svg graphic to use as a cluster container, that will obviously no longer work. It can be fixed but would require a pretty big rewrite, not sure when I'l

[2019-01-11 02:22] roy0633 commented on #37
Thank you very much!
My English is not good, maybe I can't express my gratitude correctly.
I am developing a website related to the price of real estate. When the price of each area is displayed on the map, the total amount of information is often tens of thousands. The FlareClusterLayer has helped me a lot.
![image](https://user-images.githubusercontent.com/46474785/51009302-a3d7a680-158a-11e9-81

[2019-01-11 08:27] JinLongy opened #38 "Arcgis for js 4.9"
Hi,nick.At first,my English is not good.I have a problem when introducing this FlareClusterLayer_v4.js to my Vue project.I received an error message,but I can't say it very clearly.So please see the attachment I uploaded for details.
![img001](https://user-images.githubusercontent.com/44226522/51021763-722c0300-15bd-11e9-8dcf-e918fb81a1bf.png)
![img002](https://user-images.githubusercontent.com/44

[2019-01-11 09:50] nickcam commented on #37
Ok cool, screenshot looks good! If you're relying on the layer then for the moment you'll have to stick with arcgis v4.9. As you've found out it definitely won't work in 4.10. I'll have to find time to update it, but don't know when that will be.

[2019-01-11 10:07] nickcam commented on #38
Hi @JinLongy, that error suggests that the class hasn't loaded correctly. Have you followed the esri-loader instructions here - [https://github.com/Esri/esri-loader#configuring-dojo](https://github.com/Esri/esri-loader#configuring-dojo) - to include the esri/extras package?

[2019-01-12 03:09] JinLongy commented on #38
But I can print this js object to access.
![tim 20190112110828](https://user-images.githubusercontent.com/44226522/51068556-7e19d280-165a-11e9-8123-e6b5d4a5f17f.png)

[2019-01-12 03:09] JinLongy commented on #38
I deployed the official api to the local server and placed this file in the esri directory. It stands to reason that you should be able to access this file.

[2019-01-13 21:35] nickcam commented on #38
Oh yeah I see it now. In your example you need to instantiate it like this -
`var layer = new FlareClusterLayer.FlareClusterLayer({options});`

The module imported in the loadModules() call isn't the actual class. It contains the class inside it, so you need to reference the class by using `<module>.<class>`, ie: since you're using FlareClusterLayer as the module name then it is - `FlareClusterLay

[2019-01-14 01:25] JinLongy commented on #38
Well, it’s ok now. thank you very much.

[2019-01-14 01:42] nickcam commented on #38
Ok cool.

[2019-01-14 01:42] #38 closed

[2019-01-21 14:14] mattfr commented on #37
Hi,
We were very happy using the cluster layer too, hopefully you will find some time eventually to fix it. I'd give it a go, if I only knew where to start!

[2019-01-21 14:20] mtrsklnkvMM commented on #37
Hi,
We were happy using the cluster for our project too.
Hopefully you will find the time to fix it eventually, I'd give it a go if I knew where to start!

[2019-02-10 17:30] pyalam opened #39 "How to add multiple colors inside the cluster of points to represent unique features"
Hi nick,

We really liked your flare cluster layer.In  my requirement I want to show multiple default symbols based on the condition.How can I add multiple symbol layers inside the cluster renderer.Please help me.Thanks in advance.

 var defaultSym = new SimpleMarkerSymbol({
              size: 10,
              color: "#FF0000",
              outline: null
          });

          var renderer =

[2019-02-10 21:50] nickcam commented on #39
Hi @pyalam, I'm not 100% sure what you mean...but I think you're saying you want to change the symbol for single graphics (not the clustered ones) based on some condition?

If that's what you mean then it's easy. There's a property in the class called `singleRenderer`. Just set up a normal renderer that contains whatever logic you want - UniqueValueRenderer, ClassBreaksRenderer...etc, and pass tha

[2019-02-10 21:53] pyalam commented on #39
@nickcam What I meant is .In my cluster I want to show different symbols for different points.Do you have a full code snippet for the same.

[2019-02-10 22:00] nickcam commented on #39
Do you mean for the cluster symbols themselves or for symbols that aren't part of cluster?

[2019-02-10 22:01] pyalam commented on #39
symbols inside the cluster which are part of the cluster.

[2019-02-10 22:06] pyalam commented on #39
Im getting the below issue while using the single renderer in my code .Im using a renderer of unique value infos .Could you please look into .Am I missing something

   var defaultSym = new SimpleMarkerSymbol({
              size: 10,
              color: "#FF0000",
              outline: null
          });

          var renderer = new ClassBreaksRenderer({
            // defaultSymbol: this.getU

[2019-02-10 22:06] nickcam commented on #39
Ok, sorry I'm still not 100% clear which symbols you mean. In the screenshot taken from the demo page - is it the symbols in the purple box you want to control or the symbols in the red box?

![image](https://user-images.githubusercontent.com/12369798/52540315-4c706480-2ddc-11e9-9680-db036c595c02.png)

[2019-02-10 22:08] pyalam commented on #39
The symbols inside the purple box I want to control.I want to show different symbols for each red point.

[2019-02-10 22:11] nickcam commented on #39
Ok cool. Then singleRenderer is what you want.

In your example above you need to create the pointsRenderer before creating the options and calling the constructor. Move `const pointsRenderer = {...`  to be above above this line -
`var options = { ...`

[2019-02-10 22:12] pyalam commented on #39
sorry .In my code I did like that only where as for copying  for you  I added it below.HEre is my full code file.The error is still there.Am i missing some thing.please help me.I will be more thankful to you.

/*
 Copyright 2018 Esri
 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the Licen

[2019-02-10 22:33] nickcam commented on #39
Ok I see the problem. Can't use the json representation to create a UniqeValueRenderer as it needs to be an instantiated object. This is because fcl is calling getSymbol on it to get extract the symbol for a given graphic.

Include UniqeValueRenderer  in your esri-loader `loadModules()` call and set up your singleRenderer using the actual module that is imported like so:

[code]

[2019-02-10 22:48] pyalam commented on #39
perfect that worked like a charm.one small feature .In esri feature layer we have label option.can we implement labels for the features inside cluster.I want to show labels next to feature inside cluster like below .What property do i need to add to clusterlayer please.
![image](https://user-images.githubusercontent.com/8193674/52540827-9a8d5580-2d53-11e9-9835-f5635a5a3abb.png)

[2019-02-10 22:55] nickcam commented on #39
Ok good stuff!

Sorry not possbile to use labelling with a GraphicsLayer yet, which is what fcl is based on. When I evenutally update it to support v4.10 I'll change it to subclass a feature layer instead so labelling will be supported.

[2019-02-10 22:59] pyalam commented on #39
Could you please tell me how to add label to your fcl.js.I will try on my end.Because my business is so picky for that feature.please.

[2019-02-10 23:04] nickcam commented on #39
Generally you'd use this class - [https://developers.arcgis.com/javascript/latest/api-reference/esri-layers-FeatureLayer.html#labelingInfo](https://developers.arcgis.com/javascript/latest/api-reference/esri-layers-FeatureLayer.html#labelingInfo) - but as you can see it's for FeatureLayers not GraphicsLayers.

The only option I can think of is to manually add a new Graphic symbolised using a TextSy

[2019-02-10 23:10] pyalam commented on #39
Thank u nick.I dont see " _createSingle()" in your js file in v4.

[2019-02-10 23:14] nickcam commented on #39
It's in there - in the typescript file its here: [https://github.com/nickcam/FlareClusterLayer/blob/6db681a7e9ab9b6652d6f6199af424e23d4f9534/typescript/FlareClusterLayer_v4.ts#L475](https://github.com/nickcam/FlareClusterLayer/blob/6db681a7e9ab9b6652d6f6199af424e23d4f9534/typescript/FlareClusterLayer_v4.ts#L475)

In the compiled js it's here -
[https://github.com/nickcam/FlareClusterLayer/blob/6db

[2019-02-10 23:41] pyalam commented on #39
Nick,

I have added the functionality to create labels next to graphics but the labels are not showing up .Can you please try this snippet on your end
FlareClusterLayer.prototype._createSingle = function (obj) {
            var point = new Point({
                x: obj[this.xPropertyName], y: obj[this.yPropertyName], z: obj[this.zPropertyName]
            });
            if (!point.spatialReferen

[2019-02-10 23:43] nickcam commented on #39
try this at the end instead:
[code]

[2019-02-10 23:45] pyalam commented on #39
Thank u my friend.It is working.

[2019-02-11 00:31] nickcam commented on #39
Cool!

[2019-02-11 00:31] #39 closed

[2019-02-11 21:10] dealsmyself commented on #22
@Basicside can you please all the plnkr for this one as you got it to working .

[2019-02-11 21:21] nickcam commented on #22
Hey @dealsmyself - this advice would be a bit outdated now. There's now esri-loader instead of esri-system-js. Just raise a new issue outlining your problems in detail if you can't get it going.

[2019-02-12 23:59] pyalam opened #40 "legend"
Nick,

I was trying to add legend to the cluster layer but It is showing no legend.How do you add legend to the cluster layer .Could you please look into it.Thanks.

[2019-02-13 21:30] nickcam commented on #40
Hi @pyalam, I've never used it with the legend widget, so not surprised it doesn't work. A quick look at the legend api docs though suggests it uses the renderer property of the layer to work out what to put in the legend. [https://developers.arcgis.com/javascript/latest/api-reference/esri-widgets-Legend.html](https://developers.arcgis.com/javascript/latest/api-reference/esri-widgets-Legend.html).

[2019-02-13 21:49] pyalam commented on #40
Thank you nick.I was trying to add the functioanlity of your cluster layer on zoomsingle click event.But the zoom is not going there.Do you have that functionality by chance .On single click on cluster zoom to the features.

[2019-02-13 22:29] nickcam commented on #40
That's certainly not built into the layer itself. Check out the mapview and sceneview click event and hitTest functionality of the api, and you'll be able to make that happen I imagine.

[2019-02-14 03:35] roy0633 commented on #37
@mtrsklnkvMM
I substitute
v4.9 "esri/views/2d/engine/graphics/GFXObject", "esri/views/2d/engine/graphics/Projector",
--> v4.10  "dojox/gfx3d/object", "@dojo/framework/widget-core/mixins/Projector",
And close _activateCluster and _deactivateCluster for work

[2019-02-14 22:58] dealsmyself commented on #22
Hi @nickcam quick question
in

exporting interface works , i.e
`interface FlareClusterLayerProperties extends __esri.GraphicsLayerProperties {}` is good
but when exporting class
`export class FlareClusterLayer extends __esri.GraphicsLayer`
 got a error saying " __esri is not defined"

Please suggest.

Thank you

[2019-02-14 23:18] nickcam commented on #22
Hi @dealsmyself - yeah you can't subclass an interface - `__esri.GraphicsLayer` is an interface in the typings.

Where are you getting that code from? The repository has the class signature like this -
[code]

[2019-02-15 02:00] dealsmyself commented on #22
Hi @nickcam ,
since i am not using esri-system , i am not able get the imports.
and
in another issue i saw you gave a code for `esri.service.ts ` in
https://gist.github.com/nickcam/162f3a375206737e5b5e42fc638c0fd8
there you referenced a  BaseLoaderService

`import { BaseLoaderService } from '../shared/base-loader.service';`

could you please provide the code for baseloader service , that will be h

[2019-02-15 02:12] nickcam commented on #22
Ok, yeah you should be using esri-loader.

If you just want to include FlareClusterLayer and not compile it as part of your project, just see this documentation from the esri loader readme. [https://github.com/Esri/esri-loader#configuring-dojo](https://github.com/Esri/esri-loader#configuring-dojo)

As for the `BaseLoaderService`, just ignore it. It was an application specific service for my app I

[2019-02-15 02:18] dealsmyself commented on #22
Thank you very much for your quick response @nickcam , let me give it a try and  i will update you.

Thank you

[2019-02-15 03:53] dealsmyself commented on #22
when i do this https://github.com/Esri/esri-loader#configuring-dojo
i dont need to npm install dojo typings right?
somehow its giving me
 ` http://localhost:4200/fcl/FlareClusterLayer_v3.js net::ERR_ABORTED 404 (Not Found)`

thank you

[2019-02-15 03:54] nickcam opened #41 "Using in Angular app"
when i do this https://github.com/Esri/esri-loader#configuring-dojo
i dont need to npm install dojo typings right?
somehow its giving me
 ` http://localhost:4200/fcl/FlareClusterLayer_v3.js net::ERR_ABORTED 404 (Not Found)`

thank you

_Originally posted by @dealsmyself in https://github.com/nickcam/FlareClusterLayer/issues/22#issuecomment-463896664_

[2019-02-15 03:59] nickcam commented on #41
Hi @dealsmyself,

If you're using v4.x of the arcgis api you'll need to include FlareClusterLayer_v4.js, not the v3.js file.
You'll need to copy the js file FlareClusterLayer_v4.js somewhere you're app can reference it, like any other script file, possibly to the `assets` folder.

No you don't need to include the typings, as the js file is already compiled as a complete amd module.
If you can't ge

[2019-02-15 05:55] dealsmyself commented on #41
Hi @nickcam
the error i  get when i try to compile the js file by adding to scripts:[] is
`ReferenceError: define is not defined` in FlareClusterLayer_v4.js

[2019-02-16 04:35] pyalam opened #42 "loop through graphics"
Hi Nick,

Im trying to loop through all the graphics on the cluster layer.But my mapview which has the cluster layer is returning graphics as  null .Did I miss something here.Can you please look into it.
line #1056.(console.log(mapView.graphics);)

/*
 Copyright 2018 Esri
 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the Licen

[2019-02-17 21:09] nickcam commented on #41
You shouldn't need to add anything to scripts[]?
Follow the instructions here - [https://github.com/Esri/esri-loader#configuring-dojo](https://github.com/Esri/esri-loader#configuring-dojo) and you'll just add the js file location and name to the packages array in dojoConfig.

[2019-02-17 21:09] #40 closed

[2019-02-17 21:12] nickcam commented on #42
If you want to loop the graphics for the cluster layer, you would use clusterLayer.graphics and not mapView.graphics. Check out the api docs, they've basically got everything you need to know in there.
[https://developers.arcgis.com/javascript/latest/api-reference/index.html](https://developers.arcgis.com/javascript/latest/api-reference/index.html)

[2019-02-18 23:10] pyalam opened #43 "On mouse over flares does not showing up at all."
HI Nicak,
Im mouse overing on the clustergroup but the flare tool tips are not showing up.Could you please look into my code .Am i missing any property?.Please look into my code below.

/*
 Copyright 2018 Esri
 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at
   http://www.apac

[2019-02-18 23:50] nickcam commented on #43
Hey man, sorry I can't really help with that code block.

You should also be wrapping your code in comments using markdown, put the code blocks inside three backticks.  Check out the markdown guide. You can also specify the language of the code, which will make it even easier to read. [https://guides.github.com/features/mastering-markdown/](https://guides.github.com/features/mastering-markdown/)

[2019-02-19 00:10] #42 closed

[2019-02-19 02:49] pyalam commented on #43
[fleet-map.zip](https://github.com/nickcam/FlareClusterLayer/files/2878013/fleet-map.zip)
Nick,
I cant able to add the sri loader package in stackblitz.thats why I have uploaded my component.ts folder here.Could you please look into.
flares are showing up .BUT they are not showing up on the mouse over of cluster region They are showing up when I mouse over on outside region of map .See my mouse po

[2019-02-19 04:46] pyalam opened #44 "flares not showing up in angular app"
Hi nick,

I have created your sample inside my angular app just by copying your code.here the flares are not showing on tool tip of the cluster group.please see attached folder for the code.if possible can you please add your example sample inside angular component to see whether they are actually working or not.
[fleet-map (2).zip](https://github.com/nickcam/FlareClusterLayer/files/2878314/fleet-

[2019-02-19 05:16] nickcam commented on #43
Hi @pyalam, I don't have time to crack open your whole project, compile it, trouble shoot it and return it. If you're able to reproduce the same problem in an online editor of some type (stackblitz, jsfiddle, codepen, plunkr), I'm happy to take a look at that.

[2019-02-19 05:17] nickcam commented on #44
Hi @pyalam, I don't have time to crack open your whole project, compile it, trouble shoot it and return it. If you're able to reproduce the same problem in an online editor of some type (stackblitz, jsfiddle, codepen, plunkr), I'm happy to take a look at that.

[2019-02-19 05:33] pyalam commented on #44
No problem nick.Can you please let me know why when i mouse point on other regions some other flares are showing up on cluster.Do you know why my mouse over event is not catching the cluster position.can u see the attached screen shot.here i was moving my mouse some where and some where else flares are showing up.where i need to trouble shoot this.
![20190218_232855](https://user-images.githubuser

[2019-02-19 14:57] dealsmyself commented on #41
Thank you very much @nickcam , my issue is resolved. thanks for all the help.i will try to create a stackblitz for others with the issue.

[2019-02-19 18:22] #44 closed

[2019-02-19 18:22] #43 closed

[2019-02-19 18:26] pyalam opened #45 "checking the mouse point inside the actual circle of the cluster group and it's flares instead of using the rectanglar bounding box"
HI Nick,

Im working on finding the mouse pointer inside the cluster group circle and show the flares because the rectangle box is not working for me.Do you know how to find the mouse pointer inside the cluster group and see if the pointer is inside or not.

 FlareClusterLayer.prototype._viewPointerMove = function (evt) {
			//alert("pointermove");
            var _this = this;
            var mou

[2019-02-19 20:49] #41 closed

[2019-02-19 20:55] nickcam commented on #45
You shouldn't need to do this manually, it should be working already.

I feel like I need to reiterate this - the easiest way to troubleshoot these things for yourself and for me to help if needed is to set up a demo that reproduces the problem on stackblitz (for angular apps), or plunkr, or codepen or somewhere else!

In the process of setting up this demo the chances are you'll find the answer t

[2019-02-20 00:32] #45 closed

[2019-02-27 12:36] stalniy commented on #37
@nickcam maybe you can give some hints or direction where to look (start from), so we can help you to upgrade

[2019-02-27 22:19] nickcam commented on #37
Hi @stalniy - that is a good idea!

What happens now at a high level:
When a cluster is moused over or tapped on, `_activateCluster()` is called. This performs the following steps.
 - an svg surface element is moved to the position of the mouse over graphic.
 - Clones of the moused over graphic and text object are created and added to the svg surface as new svg elements.
- Flares are added to the

[2019-04-02 08:10] davidpelayo commented on #37
Any update on this?

[2019-04-02 09:33] nickcam commented on #37
No progress yet, did just start looking at it today though.
I don't use this library in my work projects anymore, so I need to find spare time to update it, which is extremely sparse, so can't commit to when it will be done sorry.

[2019-04-02 14:22] davidpelayo opened #48 "Improve the documentation on how to run and integrate this Layer"
It would be nice to have, within the README, a quick example of how we can use this layer easily in our ArcGIS projects, so that in a quick glance you'd get the idea of how to start using it.

Due to my recent PR opened (#47), I think a section with requirements and how to start the project would be nice too. In my case, I didn't have the `http-server` required dependency for running the `npm run

[2019-04-03 00:11] nickcam commented on #37
Thanks for the PR @davidpelayo.
There's a branch that just has clustering with no flares for v4.11.
It's called v4.11-noflares. If you just want clustering and don't mind not having flares, then just use this branch.

[2019-04-03 00:40] nickcam commented on #48
I agree the readme is pretty light on. Should also probably make an npm package so it's easier to integrate.  I'll look at rewording the readme as a start.

To get it running locally you should just need to run:
`npm install`

And then :
`npm start`

Installing the dependencies first should include everything you need to run it. The http-server script is erroneous I think and should be removed.

[2019-04-03 03:05] pyalam opened #49 "recreating the clusters in v4.11 is not showing graphics"
Hi nick,

In v4.11 scene view when i tries to recreate the cluster by removing all the graphics and adding them back is not working.The graphics are not adding .unless i zoom in and zoom out then the graphic is coming back to the map.

[2019-04-03 07:38] davidpelayo commented on #49
Hi @pyalam, could you please share more details or even a not working version to inspect it?
Which branch code are you using to do so?

[2019-04-03 09:33] nickcam commented on #49
Hi @pyalam, sounds like you just need to call `draw()` on the layer after you add the graphics back in. Hard to tell without an example or code snippet though.

[2019-04-04 03:01] roy0633 commented on #37
My website for 4.11 with click event
[OCom_2019_04_04_10_59_50_632.zip](https://github.com/nickcam/FlareClusterLayer/files/3041544/OCom_2019_04_04_10_59_50_632.zip)

                v.fclPointerMove = v.on("pointer-move", function (evt) { return _this._viewPointerMove(evt); });
                v.fclPointerDown = v.on("pointer-down", function (evt) { return _this._viewPointerDown(evt); }); //ROY063

[2019-04-04 03:19] roy0633 commented on #37
My website for 4.11 with SceneView
[Ocam_2019_04_04_11_14_54_389_Trim.zip](https://github.com/nickcam/FlareClusterLayer/files/3041610/Ocam_2019_04_04_11_14_54_389_Trim.zip)

[2019-04-04 03:37] pyalam commented on #37
@roy0633 :thank you but im looking like this .when you click on a cluster it should zoom into the points of extents
like how they are showing in the below url
http://esri.github.io/cluster-layer-js/styled.html

please help me if you know

[2019-04-25 18:02] matthieubouchard commented on #33
Thanks for asking all these questions! I have yet to implement it but have been going around in circles trying to use `setFeatureReduction({type: 'cluster', radius: 60}) on a FeatureLayer instance. I thought esri 3.x supported it. An yeah I'm sure you get the x & y thing now as latitude travels up the globe even though the lines are transverse and longitude side to side.

[2019-05-01 13:35] MayurGIS opened #50 "Getting node_module error while running application"
Hi @nickcam,
First of all I would like to thank you for this clustering part. I am facing some issue while running your code. I have cloned you code. Then I write "npm install" command in visual code studio. I am getting "no such file or directory, open '..\projects\9-3-2019\FlareClusterLayer\node_modules\.staging\semver-6e4f5872\package.json'. I am missing some libraries or what. I am new to Angu

[2019-05-01 22:14] nickcam commented on #50
Hi @MayurGIS - hard to say what the issue is sorry. Make sure you've got node and npm installed globally, a fairly recent version as well.

The directory you're running npm install from has to be the root of the project...where the package,json file lives, double check that.

There's no dependency on Angular to run it either...it's just typescript and javascript.

[2019-07-03 19:55] Csmith246 opened #51 "Print Cluster Layer with the Esri 4.x Api Print Widget"
Has anyone had any luck getting the Cluster layer to appear in the pdf print-out that is produced by the Esri api's [Print Widget](https://developers.arcgis.com/javascript/latest/sample-code/widgets-print/index.html)? Currently, the Cluster layer does not show up at all in the pdf print-out.

Does anyone know what it would take to be able to get this to work?

Thanks!

[2019-07-04 00:44] #50 closed

[2019-07-05 09:45] slead opened #52 "Show popup when clicking on an individual clustered graphic"
I've just come across this awesome repo (I can't believe it still isn't core functionality!) and have only looked your demo so far, not the raw code.

When clicking on a cluster icon, the individual markers in that cluster are shown, and when hovering over an individual marker you see its tooltip ("Red Rock" in this example):

![Screen Shot 2019-07-05 at 7 39 48 pm](https://user-images.githubuserc

[2019-07-05 10:28] nickcam commented on #52
Hey man, yeah I'm pretty sure it is possible to do. Didn't do it before as the flare graphics may also represent multiple points and the graphics are temporary. They get fully destroyed when the cluster is deactivated.

I'm doing some work on this again to make it work with v4.12, so I'll take a look at implementing this while I'm in there. Can't give a time frame though sorry.

[2019-07-08 01:13] #49 closed

[2019-07-08 01:16] nickcam commented on #37
Update on this. Just committed a fully working version for v4.11, flares included. It's now the master branch.

v4.12 needs some more work as it isn't compatible, but esri haven't published the @types for 4.12 yet so I'm going to wait until they're out until getting it running. Will track v4.12 support in a different issue.

[2019-07-08 01:16] #37 closed

[2019-07-08 05:38] stalniy commented on #37
Awesome news @nickcam ! Thanks a lot for the support!

[2019-07-12 05:47] roy0633 commented on #52
@nickcam thank you for updating to the latest version...
If I make an interesting online system, I will share it with you first.

[2019-07-20 03:18] ws38jkk opened #55 "FlareClusterLayer.js 用javascript引用时 js里面的define 报错define is not defined"
FlareClusterLayer.js 用javascript引用时 js里面的define 报错define is not defined

[2019-07-21 09:59] zhangxp426 opened #56 "There is something wrong with the 4.12 API"
Hi,This is my first use the FlareClusterLayer，I‘m trying to run the index_v4.html file in the demo，but the graphics do not show，only when the mouse moved on it，the map only show the moused one，when I am trying to use the  4.11 API all of it seems all right. Is this a bug for 4.12 API?
![无标题1](https://user-images.githubusercontent.com/53140240/61589730-146a1a80-abe1-11e9-8c03-a1e870712758.png)
![无标

[2019-07-22 01:01] zhangxp426 commented on #56
It has been settled

[2019-07-22 01:01] #56 closed

[2019-07-23 01:57] nickcam commented on #55
Sorry, not a lot of detail here so hard to help. From the error it does seem like your not loading it correctly.
Follow the example in index_v4.html for details on how to load it up correctly.

[2019-07-23 02:00] nickcam commented on #51
Sorry mate, haven't looked at integrating with the print widget. Maybe when time permits I'll take a look, or someone else may be able to help out.

[2019-07-23 02:00] #48 closed

[2019-09-09 08:32] zhangluyou opened #57 "use vueJS to finish aggregation analysis"
Looking forward to use vueJS to finish aggregation analysis

[2019-09-09 21:46] nickcam commented on #57
Ok cool. Hope it works out for you.

[2019-09-09 21:46] #57 closed

[2019-09-09 21:47] #55 closed

[2019-09-11 07:16] zhangluyou opened #58 "What clustering algorithm do you use?"
What clustering algorithm do you use?

[2019-09-12 02:11] nickcam commented on #58
Hi @zhangluyou - it's just a custom algorithm. It just creates a grid over the visible extent of the map every time the extent changes. You can configure the size of the cluster grid by setting the clusterRatio property in the options. Each data point is then added to the appropriate cluster grid element as part of a cluster.

Check out these methods in FlareClusterLayer_v4.ts to see how it's done

[2019-09-24 13:21] basisbit commented on #52
Other mouse-events like mouse-scrolling (probably for the same reason) also don't work. You can reproduce this by opening the `https://flareclusterlayer.azurewebsites.net/index_v4.html` sample, zooming in a bit on Melbourne, Australia so that lots of screen space if occupied by the bubbles/circles and then try to zoom in/out on the map using mouse scrolling.

[2019-09-27 01:02] nickcam commented on #52
Yeah from memory all mouse (pointer) events are disabled over the cluster graphics. There was a good reason for this but I can't remember what is was right now. Will have to take a look when I get a chance.

[2019-11-25 21:47] tannerjt opened #59 "Zoom on cluster when clicked"
I'm trying to determine the best way to zoom to a cluster when clicked on.  I think this is somewhat typical of other cluster libraries.  When a user clicks on the cluster graphic, the view will zoom to the extent of those features.  Is there a recommended route to do this through the library?  My only alternative would be to modify the source directly.

[2019-11-26 00:38] nickcam commented on #59
Hi @tannerjt - there's no way to do it at the moment.
Wouldn't be too hard to add I don't think though.
- Create a constructor option to toggle the behaviour.
- Create a click/tap event on the cluster graphic.
- Handle the event to zoom the map to the extent of the points within the cluster.
You're welcome to create a PR if you have a go at it. I'll have a look when I get a chance, not sure when t

[2019-11-26 00:38] #58 closed

[2019-11-27 09:49] hellojiangjialin opened #60 "Can support the ArcGIS API for JavaScript version 4.13？"
The version I use is 4.13 （https://js.arcgis.com/4.13/）, and the circle drawn by the mouse hovering appears offset.

[2019-11-27 09:53] hellojiangjialin commented on #60
![error](https://user-images.githubusercontent.com/22066916/69713012-c17c1300-113e-11ea-8700-7dc9f21be069.png)

[2019-11-27 09:58] crushjjl commented on #60
![error](https://user-images.githubusercontent.com/22066916/69713435-7e6e6f80-113f-11ea-947b-62c32dd7e5a8.png)

[2019-11-27 22:57] nickcam commented on #60
Hey @hellojiangjialin - just updated it to support v4.13. Give the latest a try.

[2019-11-27 22:57] #60 closed

[2019-11-28 06:13] crushjjl commented on #60
@nickcam thank you

[2019-12-27 03:25] zhangxp426 opened #61 "How to use it in { "wkid": 2381 }?"
How to use it in Non WebMercator spatialReference？such as "wkid": 2381 or other projected coordinate system?

[2020-01-01 22:26] nickcam commented on #61
Hi @zhangxp426, yeah it will only handle web mercator or 4326 at the moment.
It would be easy to add support for more as long as the wkid is able to be projected to web mercator -
ie: `webMercatorUtils.canProject(2381, 102100)` is true.

Do you have an example plunkr, or jsbin or anything displaying the issues and with data in that projection and I can take a look?

[2020-01-02 07:44] zhangxp426 commented on #61
Hi thanks to answer me ，Now my map is "wkid": 10021，my data is also 10021 too，the ‘x’ and ‘y’ coordinate  was projected web mercator. I modified your JSON file and replaced XY for test，but it seems does not work
[
  {
    "toiletId": 1000000,
    "name": "Ocean block",
    "postcode": 6054,
    "facilityType": "Underwater",
    "isOpen": "AllHours",
    "x": -16783.906,
    "y": -2523.766
  },
  {

[2020-01-03 00:28] nickcam commented on #61
Ok, are you able to set up a plunk using the layer with your updated data? [https://plnkr.co/](https://plnkr.co/), or any other demo site? Makes it much easier to see issues and share updates instead of having to post into comments.

[2020-01-06 07:40] zhangxp426 commented on #61
I have already finish this issue，revise the line 377 in 'FlareClusterLayer_v4.js'  like "point = new Point(gridCluster.x,gridCluster.y, new SpatialReference({ wkid: 102100 }));" Because the deafult value is ‘’wkid: 4326‘’ Once the data is in ‘’wkid: 102100‘’, the grcphics will be added correctly.

[2020-01-06 21:00] nickcam commented on #61
Ok good stuff.
Looking at it seems it should  be setting the spatial reference of all created geometries to the one defined in the layer properties, which will then be project to web mercator if it's not already. So there's a little bit of work to fix this up properly.

[2020-01-06 21:00] #61 closed

[2020-01-15 09:14] Virgil-N opened #62 "classBreaksRenderer problem"
let renderer = new classBreaksRenderer({
        // type: "class-breaks",
        defaultSymbol: {
          type: "simple-marker",
          size: 14,
          color: "#FF0000",
          outline: null
        }
      });
      renderer.field = "clusterCount";
1. If i add type: "class-breaks", mapview can't render symbols.
2. broswer console print: getSymbol is not a function. So i defined a fun

[2020-01-15 21:04] nickcam commented on #62
Hi @Virgil-N, have a look at the index_v4.html file for how to create the class breaks renderers. Here's a snippet of creating one of them. If it still doesn't work for you, create a plunkr or some sort of live demo  and I can take a look.

[code]

[2020-01-16 03:50] Virgil-N commented on #62
Hi, i made a project on codepen.io. Because i can't open plunker, unless i use an vpn.
Here is the url: https://codepen.io/virgil-n/project/editor/AevazO#0
There is no dots rendered on the map.(ps: It works when i use vue. But still prints errors.)
U can see the information in console.
Thanks!

[2020-01-16 22:17] nickcam commented on #62
Ok cool, codepen is great.
I just forked yours and fixed it up a bit. The markers are displaying now.
See it here - [https://codepen.io/nickcam/project/editor/XRpmOj](https://codepen.io/nickcam/project/editor/XRpmOj)

There were a few things wrong
 - If you're going use singleRenderer, the getSymbol() method has to return a symbol of some type. I made it return the default symbol from the classBre

[2020-01-20 00:56] Virgil-N commented on #62
Thanks for your replay. I still have one question. It's can i return a graphic in the getSymbol function? I have tried, but the console ptints the error i had committed.

[2020-01-20 01:16] nickcam commented on #62
No you can't return a graphic from getSymbol. I don't see why you'd want to as well. getSymbol takes the graphic it's getting a symbol for as the first parameter, why would you want to return that graphic?

Unless you want to change the single symbol based on whether the current view is 2d or 3d, or use some other renderer for unclustered symbols then you shouldn't use singleRenderer. You can just

[2020-01-20 02:26] Virgil-N commented on #62
Yes, i have to show a custom polygon when the count equals 1 and show other symbols defined in the classBreaksRenderer when count larger than 1. Can u give me some suggestions?

[2020-01-20 03:10] nickcam commented on #62
Ok no worries. You won't be able to draw a polygon based on the unclustered points though. They're just points, you'll need a number of points to form a polygon and then create a symbol for it and add to the map somehow.

This is best done outside of the layer code. You can use the event "draw-complete" to do this. It will fire after every draw, so you can get the latest list of unclustered graphi

[2020-01-20 03:46] Virgil-N commented on #62
So u mean i have to create a new graphic layer, and add graphics to it? I have tried, so i must change the opacity of layer to show or hide the graphics?
I use scale to decide when to show or hide custom graphic.
But my graphics amount is very large, and when i scale to the boundary value, my browser blocked.
In this case, do i have any choices?
Thank you for your patient!

[2020-01-20 04:13] nickcam commented on #62
I'm not sure I'm understanding what you're trying to do unfortunately. I'll try and explain what I think though.

If your data set is really large then clustering can be a good idea. For this cluster layer to work your data has to be an array of points though, it can't be polygons.

How many points are you talking about? In the latest releases arcgis-js-api uses webgl to render, which performance

[2020-01-20 05:40] Virgil-N commented on #62
OK, I will take a look at the arcgis documents.
It's wonderful if arcgis only render the graphics which is in my viewport, that's my imagination. ^-^..
Thanks again!

[2020-01-20 20:53] nickcam commented on #62
No sorry I think there's some misunderstanding. It won't render only the graphics in your viewport automatically, but it can render a LOT of graphics at once without performance problems so you'll probably be ok even if you have a lot of geometries to draw.

I was trying to say getting your data to the browser may be a performance issue if you have a lot. So you may need to do some server side wor

[2020-01-22 08:03] Virgil-N commented on #62
I see.
But it's not a major problem, because it's used in a LAN network.

[2020-01-27 22:51] #59 closed

[2020-01-28 04:30] tannerjt commented on #39
Thanks @nickcam for your detailed answers.  I had the same question and was able to follow your solution.  You are very helpful, thanks for creating this library!

[2020-01-28 21:43] nickcam commented on #39
Thanks mate!

[2020-01-31 04:53] #62 closed

[2020-04-14 02:34] ibrucekong opened #64 "Can I use FlareClusterLayer in a Gauss Kruger projection environment"
Hope to get your help!

I'm using the version 4.10 of the API.

How to use this repo in Gauss Kruger projection?

And what do I need to do to use it correctly? Thanks a lot.

[2020-04-14 10:21] nickcam commented on #64
Hi mate, I'm not sure if it will work in that projection specifically. It's only tested in 4326 and 102100.
To start with you should set the spatial reference to Gauss Kruger in the constructor options. It will have to be able to be projected to web mercator to work. You can try `webmercatorUtils.canProject()` to test.

Then everywhere there's a `webMercatorUtils.lngLatToXY()` or `webMercatorUtils

[2020-04-24 10:58] ibrucekong commented on #64
Thank you very much for your answer, it helped me a lot.
I will try it in my project.

[2020-04-24 10:59] ibrucekong commented on #64
Thank you very much for your answer, it helped me a lot.
I will try it in my project.

[2020-06-21 20:16] dimpyvirk opened #65 "unable to compile with Angular 8.3"
My application is using
angular 8.3
@types/arcgis-js-api": "^4.15.0",
@arcgis/webpack-plugin": "4.15.0",
dojo-typings": "^1.11.9

import asd = require('esri/core/accessorSupport/decorators');

when I try to compile I am getting the following error

74 line means --> @asd.subclass("FlareClusterLayer")

ERROR in app/map/flare-cluster-layer.ts(74,2): Error during template compile of 'FlareClusterLaye

[2020-06-23 00:43] nickcam commented on #65
Hi @dimpyvirk - I haven't used the @arcgis/webpack-plugin before, so not sure how that works. I have used this project in an angular project - it was a while ago though, v4 I think.

Check out the [esri-loader](https://github.com/Esri/esri-loader) package. It has examples on how to load arcgis js api into Angular apps. If you use that you can just include the compiled javascript file as another mo

[2020-07-17 13:34] #64 closed

[2020-07-17 13:35] #65 closed

[2020-07-17 13:37] #13 closed

[2020-08-10 05:55] apaleja commented on #52
@nickcam +1 for this. I also would like to show popup similar to [ArcGIS 3.x Implementation](https://developers.arcgis.com/javascript/3/samples/layers_point_clustering/) Can you give some pointers, how to do that ? I will see if I can make required changes.

[2020-08-17 12:30] apaleja opened #66 "Show Popup on Cluster Click"
Thank you very much for keeping this project alive and updated with latest version. I am using this from 3.x implementation. Now I would like to migrate my implementation to 4.x.

One change I made in the 3.x version was enabled popup on cluster click. I would like to do same in 4.x Implementation as well. I have gone though many issues where you have mentioned it is possible. can you guide me , h

[2020-08-17 13:15] nickcam commented on #66
Hi @apaleja, I saw your comment on the other issue. I just haven't had a chance to have a look yet sorry. I'll find some time in the  next couple of days and comment back on this issue.

[2020-08-17 14:13] apaleja commented on #66
@nickcam It will be really helpful. Before I start working on new implementation using 4.x I just want to make sure It is possible.

[2020-08-18 04:25] nickcam commented on #52
Finally got around to looking at this. The pointer events are only disabled over the text svg elements, so a click event on the flares works fine.

I added an event emitter to the layer that will emit an event with a Flare object as the argument. Subscribe to the event on the layer like this -

[code]
Any time you click a flare this will then get hit get. All of the data you need to make a popup a

[2020-08-18 04:26] nickcam commented on #66
Added a comment to [https://github.com/nickcam/FlareClusterLayer/issues/52](https://github.com/nickcam/FlareClusterLayer/issues/52). Can track this there instead.

[2020-08-18 04:26] #66 closed

[2020-08-23 07:50] apaleja commented on #52
Hi @nickcam Thank you very much for quick change implementation. I believe this change allows to capture click on Flare of Cluster. I am looking for a solution when `displayFlares: false` and user click on cluster icon.

Is it possible to emit similar event for cluster click as well ?

[2020-08-25 04:30] nickcam commented on #52
Hi @apaleja, no worries - added a cluster-clicked event as well. Use it the same way as the flare-clicked event.

[code]

[2020-08-25 12:02] apaleja commented on #52
@nickcam Thank very much for for quick turn around.

[2020-09-03 22:40] #52 closed

[2020-10-13 17:24] apaleja opened #67 "Unable to load package with ArcGIS Webpack Plugin"
Hi @nickcam , Thank you very much for continuous support for this incredible library. I am trying to use this package with [ArcGIS Webpack plugin](https://github.com/Esri/arcgis-webpack-plugin). but I am getting following error:

[code]

I am trying to load compiled version (javascript) of package using [dojoConfig Method](https://github.com/Esri/esri-loader#configuring-dojo). but this is not work

[2020-10-13 22:06] nickcam commented on #67
Hi @apaleja - I've never used the webpack loader so can't really help. Your best bet is to raise an issue in that repo and ask them.

One thing that stands out in that error message is the file name - `FlareCluster.js`
[code]
Have you defined that incorrectly somewhere - should it actually be looking for FlareClusterLayer.js or FlareClusterLayer_v4.js?

[2020-10-14 04:48] apaleja commented on #67
Hi @nickcam Thanks for quick reply.  About the error message :

I think that is due to sourcemap of compiled version is pointing to `FlareClusterLayer_v4.ts` file ?

[2020-10-15 03:51] nickcam commented on #67
Yeah FlareCluster.js seems weird though...it shouldn't be called that I don't think...but maybe webpack is doing something to it??
Anyway, I think you're best bet is to ask in the arcgis webpack repo. I'm not across the details of how it works.

[2020-10-15 04:40] apaleja commented on #67
Thanks I've asked https://github.com/Esri/arcgis-webpack-plugin/issues/101 . adding here for future reference.

[2020-10-15 10:00] #67 closed

[2020-11-04 13:58] apaleja opened #68 "onhover opens wrong flareCluster when map is not full body"
Hi @nickcam ,

thanks for your cluster extension. I tried to used it in map instance which is not 100% of the body span. I noticed wrong flareCluster is getting activated on mouseover.

you can try it here. https://rb.gy/ks9b2w it is clone of this repo with just change in height of the container.

[2020-11-08 07:59] apaleja commented on #68
Hi @nickcam any pointers where I should be looking at ?

[2020-11-09 03:26] nickcam commented on #68
Grab the latest and try it out again, it should work now. Had to put some manual checks in for screen point when the containers had offsets.

[2020-11-19 11:47] #68 closed

[2021-05-01 05:18] apaleja opened #69 "On mouse hover icon is getting streched and icons flickering"
Hi @nickcam,

With latest changes you've provide to accommodate padding/margin in document is working well. But I am facing few issue on higher resolution screens mainly:
1) On mouse hover/out, icons are flickering
2) On mouse hover/out, Icon size is getting changed (I know we can do icon animation using css transform but I am not using it)
3) On higher resolution screens icon is changing to oval

[2021-06-01 16:17] afillip opened #71 "Upgrading to ArcGis 4.19, cluster text occasionally does not show up on cluster symbol"
From what I can tell, it's pretty random when the text symbol shows up or doesn't. I've found that the text symbol is being set correctly, it's just not showing up... maybe a z-index issue? This may be something we can fix on our end, but just wanted to make y'all aware incase others have run into this and can maybe be fixed on your end.
Thanks.

<img width="387" alt="Screen Shot 2021-06-01 at 11

[2021-06-02 02:28] nickcam commented on #71
Hi @afillip - I haven't been keeping the up to date with the esri js api versions as I haven't been using the api or this layer in a while. I think you're right, it's most likely a z-index issue on the text element.

If you want to fix it and submit a PR feel free to do so :).

Could be as simple as adding a higher z-index to `cluster-text` class.

If not somewhere around and below this line  migh

[2021-06-02 02:32] nickcam commented on #69
Yeah that's weird. Does it happen in all browsers? Looks like a css thing when it's trying to scale the svg elements. You say you're not using any css transforms though, so probably not that I guess.

Have you tried inspecting when hovered over to see what attributes the dodgy elements have?

[2021-06-02 15:00] afillip commented on #71
Thank you, I like them too! Was all our designer's choice, but I appreciate it :)

And thanks for such a quick turnaround on the tips, i'll try them out and submit a PR if I find a solution!

[2021-06-12 10:12] apaleja commented on #71
@afillip I am also thinking about moving to ArcGis 4.19. how did you manage dojo dependency ?

@nickcam any planning to update to 4.19 without dojo ?

[2021-06-12 10:18] apaleja commented on #69
@nickcam no. I didn't get chance to debug it further but I was able to reproduce for all browsers for higher resolution screen. But would like to find out and solve it. Any pointers ?

[2021-06-12 17:15] afillip commented on #71
Hey @apaleja, we upgraded to ArcGis 4.19 but are not using their new modules yet. It was just going to be too much work replacing all the dojo dependencies with the new modules, so we're waiting until we have a little more bandwidth.

[2021-06-12 17:19] apaleja commented on #71
@afillip we are planning to upgrade to 4.19. and also we are not using dojo anywhere in the project but this library uses dojo which I think will be an issue. Any pointers ? We are using webpack and react.

[2021-06-16 02:48] nickcam commented on #71
Hi @afillip and @apaleja, I didn't know esri had removed the dependency on dojo...it's about time I reckon!

Last I heard it was going to move to dojo2....or maybe it already had, I don't know 🤷‍♂️.

Anyway the dojo modules used in the layer are only there as dojo was being loaded by the api anyway so I used them as helpers to do some DOM manipulation. I don't think there's dojo related stuff in t

[2021-06-16 02:56] nickcam commented on #69
Ok, something funky is happening when it adds the element to the svg surface.
That would be in this function - [https://github.com/nickcam/FlareClusterLayer/blob/1ad1e5100e09b8b366d57a548552a92261258f8f/typescript/FlareClusterLayer_v4.ts#L816](https://github.com/nickcam/FlareClusterLayer/blob/1ad1e5100e09b8b366d57a548552a92261258f8f/typescript/FlareClusterLayer_v4.ts#L816)

If you're not using fla

[2021-06-29 13:45] apaleja commented on #69
@nickcam Yes. that's what I did temporarily for now as I am not using flares. but I'll be adding flare support very soon and I am also planing to upgrade ArcGIS JS API to 4.19. Let me know if you can provide any pointers for same and maybe I can spend some time to upgrade and create PR.